.Container {
  height: inherit;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 40px;
}

.Container:hover {
  background-color: #c4c4c4;
}
