.SearchButton {
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--brown);
  cursor: pointer;
  border: none;
  border-radius: 0.3em;
}

.SearchButton:hover {
  background-color: var(--dark_brown);
}
.SearchIcon {
  margin-left: 1px;
  margin-right: 1px;
  font-size: 2em;
  color: white;
  height: auto;
}

.SearchButton:active {
  background-color: #f2f2f2;
}
