.Container {
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 1vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.GridContainer {
  display: grid;
  background-color: var(--brown);
  grid-auto-rows: minmax(30px, auto);
  grid-template-columns: 10% auto 7% 10% 10% 10%;
  grid-row-gap: 2px;
  grid-column-gap: 2px;
  padding: 2px;
}

.GridContainer div {
  display: block;
  justify-content: center;
  align-items: center;
  background-color: white;
  overflow-wrap: break-word;
  text-align: center;
  align-items: center;
}

.GridContainer div:nth-child(13) {
  grid-column-start: 1;
  grid-column-end: 3;
}

.GridContainer div:nth-child(14) {
  grid-column-start: 3;
  grid-column-end: 4;
}

.GridContainer div:nth-child(15) {
  grid-column-start: 4;
  grid-column-end: 7;
}

.GridContainer div:nth-child(16),
.GridContainer div:nth-child(18),
.GridContainer div:nth-child(20),
.GridContainer div:nth-child(22),
.GridContainer div:nth-child(24),
.GridContainer div:nth-child(26) {
  grid-column-start: 1;
  grid-column-end: 2;
}
.GridContainer div:nth-child(17),
.GridContainer div:nth-child(19),
.GridContainer div:nth-child(21),
.GridContainer div:nth-child(23),
.GridContainer div:nth-child(25),
.GridContainer div:nth-child(27) {
  grid-column-start: 2;
  grid-column-end: 7;
}

.LeftExtraInfoList {
  list-style: none;
  padding: 0;
  margin: 0;

  background-color: aqua;
}

.RightExtraInfoList {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: purple;
}

.ExtraInfoContainer {
  display: flex;
  padding: 2vh 6vw 2vh 6vw;
  margin-top: 3vh;
  flex-direction: row;
  justify-content: space-between;
}

.DataBlockContainer {
  height: 1.5em;
  display: inline-block;
  margin-left: 5px;
}

.progressRecordListContainer {
  display: flex;
  width: 100%;
  overflow-wrap: break-word;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

.progressRecord {
  flex-grow: 1;
  border: solid 1px var(--brown);
  border-radius: 0.5em;
  padding: 15px;
  background-color: azure;
  margin-right: 3vw;
}

.progressRecordListContainer :last-child {
  margin-right: 0;
}

.progressRecordAssigneeContainer {
  display: flex;
  margin-top: 10px;
  font-size: 0.8em;
}

.progressRecordAssigneeContainer select {
  flex-grow: 1;
}

.progressRecordTimeContainer {
  display: flex;
  margin-top: 5px;
}

.progressRecordTimeContainer input {
  /* for some reason this width attribute is needed to make flex-grow:1 work */
  width: 20px;
  flex-grow: 1;
}
