.TopBarContainer {
  position: fixed;
  width: 100vw;
  height: 40px;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-shadow: 0px 2px 2px #d6d6d6;
  background-color: white;
  z-index: 1000;
}

.RightButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: inherit;
  margin-left: auto;
}

.PageTitle {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  font-size: 1em;
  height: 100%;
  /* because I'm centering this span in position:absolute by doing auto margin + left right 0
  it will grow the width to full width, to avoid that I set a fixed width. I expect no title will be longer than 10 characters */
  width: 10em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #00000000;
}

@media only screen and (max-width: 400px) {
  .LogoContainer {
    height: 40px;
  }
}

.SideMenu {
  background-color: white;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 40px;
  left: -100%;
  transition: 850ms;
  z-index: 900;
}

.SideMenuActive {
  background-color: white;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 40px;
  z-index: 1000;
  left: 0;
  transition: 350ms;
  z-index: 900;
  box-shadow: 2px 0px 2px #d6d6d6;
}
.SideMenuList {
  font-size: 1em;
  margin: 0;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  width: 100%;
  list-style-type: none;
}

.SideMenuList li {
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.SideMenuList li div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SideMenuList li:hover {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Dividor {
  margin-top: 5px;
  width: 60%;
  height: 2px;
  background-color: #017131;
}
