.Container {
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 6vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.BasicFieldsList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
.BasicFieldsList li {
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}
.BasicFieldsList li .DataBlockContainer :only-child {
  width: 100%;
}
.BasicFieldsList li .DataBlockContainer input {
  width: 100%;
  height: 100%;
  border: solid 1px var(--brown);
  border-radius: 0.2em;
}

.BasicFieldsList li .DataBlockContainer div {
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.BasicFieldsList li:last-child .DataBlockContainer {
  height: inherit;
}

.BasicFieldsList li .DataBlockContainer textarea {
  display: inline-block;
  height: 20vh;
}

.DataBlockContainer {
  height: 1.5em;
  display: inline-block;
  width: 20vw;
  margin-left: 5px;
}

.BasicFieldsContainer {
  background-color: aliceblue;
  padding: 20px 20px 20px 30px;
  margin-right: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  border-radius: 0.2em;
  border: solid 1px var(--brown);
}

.ProductEntriesContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: scroll;
  height: 50vh;
  width: 45vw;
  margin-left: 3vw;
}

.ProductEntriesTitle {
  margin-bottom: 10px;
}
