/* global css for table data */
.DataTable {
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 0.8em;
  width: 100%;
  overflow-wrap: break-word;
}

/* for the first row search bar */
.DataTable thead tr:first-child th {
  padding: 5px;
  padding-bottom: 10px;

  /* note that the font size and height of search bar can be different than data cells */
  font-size: 1em;
  height: 2em;
}

/* for first 3 inpus in search bar, 訂單號碼 客戶地訂單號碼 客戶代號 */
.DataTable thead tr:first-child th:nth-child(-n + 3) input {
  border: none;
  border: solid 1px #957b5f;
  height: inherit;
  font-size: inherit;
  width: 100%;
  border-radius: 0.3em;
  padding: 0 0 0 0;
}

/* for first the 2 date fields */
.DataTable thead tr:first-child th:nth-child(4) div,
.DataTable thead tr:first-child th:nth-child(5) div {
  height: inherit;
  font-size: inherit;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.DataTable thead tr:first-child th:nth-child(4) input,
.DataTable thead tr:first-child th:nth-child(5) input {
  height: 100%;
  font-size: inherit;

  border: none;
  border: solid 1px #957b5f;
  flex-grow: 1;
  border-radius: 0.3em;
  padding: 0 0 0 0;
}

/* for first block border in search bar */
.DataTable thead tr:first-child th:first-child {
  /* this is 3.5px because first row doesn't have a 1.5px border */
  padding-left: 0px;
}

/* for last block border in search bar */
.DataTable thead tr:first-child th:last-child {
  /* this is 3.5px because first row doesn't have a 1.5px border */
  padding-right: 0px;
}

/* for the first row search bar last cell div container with search button */
.DataTable thead tr:first-child th:last-child div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}
.DataTable thead tr:first-child th:last-child div button {
  margin-left: 10px;
}

/* for second row title */
.DataTable thead tr:nth-child(2) th {
  padding: 2px;
}

.DataTable thead tr:last-child {
  color: white;
  background-color: var(--green);
}
.DataTable thead tr:last-child th {
  border-right: 1.5px solid white;
  border-top: 1.5px solid var(--green);
  border-bottom: 1.5px solid var(--brown);
  border-left: 1.5px solid var(--green);
}

.DataTable thead tr:last-child th:last-child {
  padding: 0;
  border-right: 1.5px solid var(--green);
}

/* for data cells */
.DataTable td {
  padding: 2px;
  padding-left: 5px;
  border: 1.5px solid var(--brown);
}

/* for the last column of data cell that has a arrow button */
.DataTable tbody td:last-child div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
