.Container {
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 3vh;
}
/* 
.CustomerIdTitle {
  width: 10vw;
}

.NameTitle {
  width: 20vw;
}
.ContactNameTitle {
  width: 10vw;
}
.ContactNumberTitle {
  width: 10vw;
}
.AddressTitle {
  width: 50vw;
} */
